This notebook is intended to create a small dataset to simulate new customers and test all solution build in this project.

In [1]:
import pandas as pd

In [2]:
# Original dataset from Kaggle
df = pd.read_csv("../data/hotel_bookings.csv")

In [3]:
# Dataset shape
df.shape

(119390, 32)

In [4]:
# Count the number of records by hotel
df.groupby("hotel")['hotel'].count()

hotel
City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64

In [5]:
# Randomly select 200 records
df_newcustomers = df.sample(n=10000, random_state=1)  # random_state for reproducibility

In [6]:
# Create the dataset with the remaining 9800 records
df_dataset = df.drop(df_newcustomers.index)

In [7]:
df_newcustomers.groupby("hotel")['hotel'].count(), df_dataset.groupby("hotel")['hotel'].count()

(hotel
 City Hotel      6563
 Resort Hotel    3437
 Name: hotel, dtype: int64,
 hotel
 City Hotel      72767
 Resort Hotel    36623
 Name: hotel, dtype: int64)

In [8]:
# Save the new datasets to CSV files
df_newcustomers.to_csv('../data/new_customers.csv', index=False)
df_dataset.to_csv('../data/hotel_booking_dataset.csv', index=False)

In [9]:
# Print a summary of the created datasets
print(f'Original dataset: {df.shape[0]} records')
print(f'Sample dataset: {df_newcustomers.shape[0]} records')
print(f'Remaining dataset: {df_dataset.shape[0]} records')

Original dataset: 119390 records
Sample dataset: 10000 records
Remaining dataset: 109390 records